// Breakpoint responsive //

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Fuentes //

$roboto-font: "Roboto", sans-serif;
$belgrano-font: "Belgrano", serif;
$poppins-font: "Poppins", sans-serif;
$plus-jakarta: "Plus Jakarta Sans", sans-serif;
$font-hero: "Montserrat", sans-serif;

// Colores  //

$blue-primary: #666ca3;
$black-primary: #13183f;
$white-primary: #FAF8F5;
$white-transp: #FFFFFF;
$cian-primary: #A9D6CB;
$grey-primary: #83869a;
$pink-primary: #f74780;
$pink-light: #ffa7c3;

$gradient-pink-orange: linear-gradient(180deg, #FF6F48, #F02AA6);
$gradient-pink-orange-hover: linear-gradient(180deg,rgb(255, 111, 72, 0.5)  0.04%,rgb(240, 42, 166, 0.5) 100%);

$gradient-pink-blue: linear-gradient(180deg, rgb(72, 81, 255) 0%, rgb(240, 42, 167) 99.92%);
$gradient-pink-blue-hover: linear-gradient(180deg, rgb(72, 81, 255, 0.5) 0%, rgb(240, 42, 167, 0.5) 99.92%);

$gradient-bc-description: linear-gradient( #ffffff 0%, #F0F1FF 100% );